.brew_Index{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(beer.jpg),url(fiveClass.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;

}

h1{
    color: #fff;
    margin-bottom: 70px;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
}

.search_field{
    height: 50px;
    margin: 2px;
   padding: 10px; 
    border: none;
    border-radius: 25px;
    outline: none;
}

.liquor{
width: 400px;
}

.location{
    width: 200px;

}
.search_btn{
    height: 50px;
    padding: 10px; 
    width: 150px;
    border: none;
    background: #ffeb3b;
    color: #000;
    border-radius: 25px;

}
.search_btn:hover{
    background: #ffc107;
    cursor: pointer;
}

.form-Box{
    background: rgba(0,0,0,0.5);
    padding: 30px;
}