
   
li {
    list-style-type: square;
  }

  p{
      font-size: 16px;
      color: black;
  }

  .ReadMore{
      float:right;
      text-decoration: none;
      color: white;
      cursor: pointer;
  }

  .ReadMore:hover{
    text-decoration: none;
    color: white;
    cursor: pointer
}